.bg-dark
	{
  	background-color: #445 !important;
  	color: #eeeeee !important;
	}

.layout
	{
	display: grid;
	grid-template-columns: 4% auto 4%;
	margin-top:2.5%;
	}

.content
	{
	background-color: #445;
	color: #fffbed;
	margin-top:0;
	margin-bottom:4em;
	padding:1%;
	border-bottom: .5em solid #334;
	border-radius: 15px;
	}

.contentColumns
	{
	display: grid;
	grid-template-columns: 50% 50%;
	}

.contentColumns img
	{
	width: 100%;
	border-radius:5px
	}

.contentColumn
	{
	margin:2%;
	}

.sidebars
	{
	font-variant: small-caps; !important;
	font-family: "Times New Roman";
 	word-wrap: break-word;

	animation-name: sidebarAnimation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	}

.footer
	{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #445;
	height:60px;
	}

a
	{
	color:#fffbed;
	}

a:hover
	{
	color:#cccbed;
	}

body
	{
	background-color: black;
	margin-bottom: 60px;
	}

h2
	{
	font-family: "Times New Roman"; !important;
	font-variant: small-caps; !important;
	font-size:1.75em; !important;
	}

html
	{
  	position: relative;
  	min-height: 100%;
	}

nav img
	{
	width:2em;
	}

p
	{
	font-family: "Times New Roman";
	}

@keyframes sidebarAnimation
	{
	from {color: black;}
	to {color: 111;}
	}
